<style>
	header {
		width: 100%;
		background-color: #ffffff;
    	border-bottom-style: solid;
    	border-bottom-color: #cccccc;
    	border-bottom-width: medium;
	}

	.banner {
		width: 960px;
		height: 80px;
		background-color: #ffffff;
		border-color: #cccccc;
		margin: 0 auto;
	}

	.name {
		height: 80px;
		width: 250px;
		text-align: center;
		float: left;
		font-family: "Georgia", "Times New Roman", Times, serif;
		line-height: 300%;
    	font-size: 30px;
		background-color: #4aaaa5;
		border-color: #dddddd;
		color: #ffffff;
		font-weight: bold;
	}
	.banner > ul> li {
		display: inline-block;
	    padding: 40px 5px 0 20px;
	    font-size: 20px;
	    font-weight: bold;
	    float: right;
	}

	.banner > ul > li > a {
		color: #777777;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		text-align: center;
		text-decoration: none;
	}

	.wrapper {
		background-image: url("../images/concrete-texture.png");
		margin: 0;
		border-top-style: solid;
    	border-top-color: #cccccc;
    	border-top-width: medium;	
    	min-height: 919px;
    }

	.content {
		width: 960px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.content::after {
		content: "";
		display: block;
		clear: both;
	}
	
	.personal_info,
	img {
		float: left;
		margin-right: 20px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		background-color: #ffffff;
	}

	.personal_info {
		width: 650px;
		border-style: solid;
    	border-color: #dddddd;
    	border-width: thin;
	}

	.personal_info_header {
		float: left;
		height: 80px;
		width: 590px;
		padding-left: 30px;
	    padding-right: 30px;
		text-align: left;
		font-family: "Georgia", "Times New Roman", Times, serif;
		font-weight: bold;
		line-height: 300%;
    	font-size: 26px;
		border-color: #dddddd;
		color: #4aaaa5;
	}

	.personal_info_border {
  		border-bottom: 2px solid #cccccc;
	    position: absolute;
	    width: 590px;
	    margin-left: 30px;
	    margin-top: 70px;
	}

	.personal_info_content {
		padding: 30px;
    	margin-top: 65px;
    	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    	font-size: 18px;
    	color: #777777;
    	line-height: 150%;
	}

	.personal_info_content > img {
		margin-bottom: 25px;
  		padding-left: 30px;
	}

	.contact_info {
		width: 270px;
		float: right;
		background-color: #ffffff;
		padding-bottom: 25px;
	    border-style: solid;
	    border-color: #dddddd;
	    border-width: thin;
	}

	.contact_info_header {
		float: left;
		height: 80px;
		padding-left: 30px;
	    padding-right: 30px;
		text-align: left;
		font-family: "Georgia", "Times New Roman", Times, serif;
		font-weight: bold;
		line-height: 300%;
    	font-size: 20px;
		border-color: #dddddd;
		color: #4aaaa5;
	}

	.contact_info_border {
  		border-bottom: 2px solid #cccccc;
	    position: absolute;
	    width: 210px;
	    margin-left: 30px;
	    margin-top: 60px;
	}

	.contact_info_content {
		padding: 35px;
    	margin-top: 65px;
    	width: 270px;
	}
	
	.image {
		height: 220px;
		width: 240px;
		float: left;
	    padding-left: 35px;
	    padding-bottom: 15px;
	}

	.image > h2 {
		position: relative;
		bottom: 80px;
		height: 60px;
		width: 240px;
		text-align: center;
		float: left;
		font-family: "Georgia", "Times New Roman", Times, serif;
		line-height: 250%;
    	font-size: 22px;
		background-color: #4aaaa5;
		border-color: #dddddd;
		color: #ffffff;
	}

	input[type=text] {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	input[type=submit] {
	    background-color: #4aaaa5;
		border-color: #dddddd;
		color: #ffffff;
	    padding: 14px 20px;
	    margin: 8px 0;
	    font-size: 14px;
	    border: none;
	    border-radius: 1px;
	    cursor: pointer;
	    font-family: "Georgia", "Times New Roman", Times, serif;
	}

	textarea {
		width: 100%;
		height: 200px;
	    padding: 12px 20px;
	    margin: 8px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}

	footer {
		width: 100%;
		float: none;
		line-height: 5;
		text-align: center;
		background-color: #666666;
		color: #ffffff;
		height: 80px;
		border-top: 10px solid #4aaaa5;
		position: fixed;
		bottom: 0;
	}
	
	html {
		position: relative;
    	min-height: 100%;
	}

	body {
		margin: 0 0 80px;
	}
</style>